
header{
    height: 100px;
    background-color: orange;
}
nav{
    height: 100px;
    background-color: orangered;
}
section{
    height:100px;
    background-color: bisque;
}
article{
    height:100px;
    background-color: brown;
}
footer{
    height:100px;
    background-color: burlywood;
}
